/*Using html to set the styling for the whole page ie borders, left/right margins, and an image to fill in the margins*/
html {
    background-color: rgb(83, 83, 83);
    color: rgb(0, 0, 0);
    background-image: url("images/clouds.jpg") ;
    margin: 0px 200px;
    border-top: 0px transparent;
    border-right: 2px solid;
    border-bottom: 0px transparent;
    border-left: 2px solid;
/*Using Pseudoclass picture to style my profile picture, including a border and setting the size*/    
}
.picture {
    height: 300px;
    width: 300px;
    border: outset 4px;
    border-radius: 20px;
}
/*Used negative top and bottom margins to fill in blank spots above and below header, closing the vertical borders set in html*/
header{
    text-align: center;
    background-color: rgb(49, 49, 47);
    color: rgb(222, 231, 168);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -21px;
    margin-bottom: -21px;
}
/*minor styling for the main portion of the webpage*/
main{
    background-color: rgb(161, 203, 240);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    text-decoration: underline;
}
.about{
    margin: 0px 400px; 
    text-align: left;
    line-height: 1.5;
}
.hi{
    
    text-align: left;
    line-height: 1.5;
}
.contact{
    margin: 0px 680px;
    text-align: left;
    line-height: 1.5;
}
footer{
    background-color: rgb(49, 49, 47);
    color: rgb(222, 231, 168);
}
/*Adding color variations for links*/
a:link{
    color: brown;
} 
a:visited{
    color: blue;
}
a:hover{
    color: chocolate;
}
a:active {
    color: darkgreen;
}
/*Increasing the thickness of dividers*/
hr{
    height: 3px;
    color: black;
}
/*Creating a border for first article*/
.box{
    background-color: bisque;
    border: solid;
    padding-left: 10px;
    margin: 0px 520px;
}
